<div class="container">
	<form [formGroup]="articleForm" class="row justify-content-center mt-5" (ngSubmit)="onSubmitArticleForm()">
		<div class="col-8">
			<app-backend-errors *ngIf="errors" [backendErrors]="errors">
			</app-backend-errors>
			<div class="row mb-3">
				<label for="title" class="col-md-4 col-form-label">Title</label>
				<div class="col-md-8">
					<input type="text" formControlName="title" class="form-control" id="title">
				</div>
				<div class="invalid"
					*ngIf="articleForm.get('title')?.invalid && (articleForm.get('title')?.dirty || articleForm.get('title')?.touched)">
					Please provide a title
				</div>
			</div>
			<div class="row mb-3">
				<label for="description" class="col-md-4 col-form-label">Description </label>
				<div class="col-md-8">
					<textarea rows="10" formControlName="description" class="form-control" id="description"></textarea>
				</div>
				<div class="invalid"
					*ngIf="articleForm.get('description')?.invalid && (articleForm.get('description')?.dirty || articleForm.get('description')?.touched)">
					Please provide a description.
				</div>
			</div>
			<div class="row mb-3">
				<label for="body" class="col-md-4 col-form-label">Body</label>
				<div class="col-md-8">
					<input type="text" formControlName="body" class="form-control" id="body">
				</div>
				<div class="invalid"
					*ngIf="articleForm.get('body')?.invalid && (articleForm.get('body')?.dirty || articleForm.get('body')?.touched)">
					Please provide a body.
				</div>
			</div>
			<div class="row mb-3">
				<label for="tagList" class="col-md-4 col-form-label">Tag list</label>
				<div class="col-md-8">
					<input type="text" formControlName="tagList" class="form-control" id="tagList">
				</div>
				<div class="invalid"
					*ngIf="articleForm.get('tagList')?.invalid && (articleForm.get('tagList')?.dirty || articleForm.get('tagList')?.touched)">
					Please provide a tag list.
				</div>
			</div>
			<button type="submit" [disabled]=" articleForm.invalid || isBeingSubmitted" class="btn btn-success">Publish
			</button>
		</div>
	</form>
</div>