<ng-container *ngIf="feedData$ | async as feedData">
	<app-loading *ngIf="feedData.isBeingLoaded"></app-loading>
	<app-error-message *ngIf="feedData.error" [message]="feedData.error"></app-error-message>
	<div class="card text-center mb-1" *ngFor=" let article of feedData.feed?.articles ">
		<div class="card-header">
			<a [routerLink]="['/profiles', article.author.username]">
				<img width="32px" height="32px" [src]="article.author.image" alt="" />
			</a>
			<br>
			<a [routerLink]="['./profiles', article.author.username]" class="card-title text-decoration-none"> {{
				article.author.username}}
			</a>
		</div>
		<div class="card-body">
			<p> created at : {{ article.createdAt }}
				<span>
					<app-add-to-favorites [isFavorited]="article.favorited" [favoritesCount]="article.favoritesCount"
						[articleSlug]="article.slug"></app-add-to-favorites>
				</span>
			</p>
			<a class="card-text link-dark text-decoration-none" [routerLink]="['/articles', article.slug]">
				<h5 class="text-start fw-bolder">{{ article.title }}</h5>
				<p class="text-start"> {{ article.description }}</p>
				<p class="text-start">Read more ...</p>
				<app-tag-list [tags]="article.tagList"></app-tag-list>
			</a>
		</div>
	</div>
	<app-pagination [total]="feedData.feed?.articlesCount" [limit]="limit" [url]="baseURL"
		[currentPage]="currentPage"></app-pagination>
</ng-container>